@model JH_Car_Center.ViewModel.CenterVM

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>CenterVM</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="TypeOfVehicle" class="control-label"></label>
                @*<input asp-for="TypeOfVehicle" class="form-control" />*@
            <select asp-for="TypeOfVehicle" class="form-control">
                <option value="SEDAN">SEDAN</option>
                <option value="SUV">SUV</option>
                <option value="SPORT CAR">SPORT CAR</option>
                <option value="COUPE">COUPE</option>
                <option value="MINIVAN">MINIVAN</option>
            </select>
                <span asp-validation-for="TypeOfVehicle" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ChassisNo" class="control-label"></label>
                <input asp-for="ChassisNo" class="form-control" />
                <span asp-validation-for="ChassisNo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EngineNO" class="control-label"></label>
                <input asp-for="EngineNO" class="form-control" />
                <span asp-validation-for="EngineNO" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ManufactureYear" class="control-label"></label>
                @*<input asp-for="ManufactureYear" class="form-control" />*@
            <select asp-for="ManufactureYear" class="form-control">
                <option value="2010">2010</option>
                <option value="2011">2011</option>
                <option value="2012">2012</option>
                <option value="2013">2013</option>
            </select>
                <span asp-validation-for="ManufactureYear" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CC" class="control-label"></label>
                <input asp-for="CC" class="form-control" />
                <span asp-validation-for="CC" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Colour" class="control-label"></label>
                @*<input asp-for="Colour" class="form-control" />*@
            <select asp-for="Colour" class="form-control">
                <option value="Red">Red</option>
                <option value="Blue">Blue</option>
                <option value="White">White</option>
            </select>
                <span asp-validation-for="Colour" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LoadCapacity" class="control-label"></label>
                <input asp-for="LoadCapacity" class="form-control" />
                <span asp-validation-for="LoadCapacity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Accessories" class="control-label"></label>
                <input asp-for="Accessories" class="form-control" />
                <span asp-validation-for="Accessories" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UnitPrice" class="control-label"></label>
                <input asp-for="UnitPrice" class="form-control" />
                <span asp-validation-for="UnitPrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PaymentMethod" class="control-label"></label>
                @*<input asp-for="PaymentMethod" class="form-control" />*@
            <select asp-for="PaymentMethod" class="form-control">
                <option value="Cash">Cash</option>
                <option value="Check">Check</option>
                <option value="Bank">Bank</option>
            </select>
                <span asp-validation-for="PaymentMethod" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Delivery" class="control-label"></label>
                <input asp-for="Delivery" class="form-control" />
                <span asp-validation-for="Delivery" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Vaidity" class="control-label"></label>
                <input asp-for="Vaidity" class="form-control" />
                <span asp-validation-for="Vaidity" class="text-danger"></span>
            </div>
            @*<div class="form-group">
                <label asp-for="CustomerId" class="control-label"></label>
                <input asp-for="CustomerId" class="form-control" />
                <span asp-validation-for="CustomerId" class="text-danger"></span>
            </div>*@
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address" class="control-label"></label>
                <input asp-for="Address" class="form-control" />
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>
            @*<div class="form-group">
                <label asp-for="Date" class="control-label"></label>
                <input asp-for="Date" class="form-control" />
                <span asp-validation-for="Date" class="text-danger"></span>
            </div>*@
            @*<div class="form-group">
                <label asp-for="ChallanNo" class="control-label"></label>
                <input asp-for="ChallanNo" class="form-control" />
                <span asp-validation-for="ChallanNo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ReceiptNo" class="control-label"></label>
                <input asp-for="ReceiptNo" class="form-control" />
                <span asp-validation-for="ReceiptNo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Quantity" class="control-label"></label>
                <input asp-for="Quantity" class="form-control" />
                <span asp-validation-for="Quantity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Remarks" class="control-label"></label>
                <input asp-for="Remarks" class="form-control" />
                <span asp-validation-for="Remarks" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SerialNo" class="control-label"></label>
                <input asp-for="SerialNo" class="form-control" />
                <span asp-validation-for="SerialNo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TotalPrice" class="control-label"></label>
                <input asp-for="TotalPrice" class="form-control" />
                <span asp-validation-for="TotalPrice" class="text-danger"></span>
            </div>*@
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
